<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.user %></h1>
    <p>
      You have a new productc "<%= @product.name %>".<br />
    </p>
    <p>
      If you want to take a look in, log in to the site,<br />
      and visit "my products" in the menu.
    </p>
    <p>Thanks for visit us and have a great day!</p>
  </body>
</html>