    <!-- Page Content -->
    <div class="container">
        <!-- Featurette -->
        <div class="featurette" id="about">
        <br />
            <%= link_to (image_tag "/images/trastos.jpg", :class => "featurette-image img-circle img-responsive pull-right" ), products_path %>
            <h2 class="featurette-heading">If you don't want it,<br />
                <span class="text-muted">just ExchangeIt</span>
            </h2>
            <p class="lead">Everyone has something at home that don't want, things you no longer use it, take it to a second-hand store is an option, but do you have the ticket or invoice?<br />
            Do you think that they pay you enough?<br /><br />
            ExchangeIt is a portal where people exchange goods with others, upload the photos of the products you want and add a description, contact with another user who has a product that interests you and make a deal in ExchangeIt.</p>
            <%= link_to 'List of products', products_path, :class => "btn btn-primary" %>
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
              <br /><br />
                <div class="col-lg-12">
                    <p>Copyright &copy; ExchangeIt 2014</p>
                </div>
            </div>
        </footer>

    </div>